USE [master]
GO
/****** Object:  Database [DoverSma]    Script Date: 9/19/2018 12:13:06 PM ******/
CREATE DATABASE [DoverSma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoverSma', FILENAME = N'C:\A_Development\SQL\DoverSma\Db\DoverSma.mdf' , SIZE = 61440KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DoverSma_log', FILENAME = N'C:\A_Development\SQL\DoverSma\Db\DoverSma_log.ldf' , SIZE = 57664KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoverSma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoverSma]
GO
/****** Object:  Table [dbo].[AssetManagers]    Script Date: 9/19/2018 12:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssetManagers](
	[AssetManagerCode] [varchar](10) NOT NULL,
	[AssetManager] [varchar](50) NOT NULL CONSTRAINT [DF_AssetManagers_AssetManager]  DEFAULT ('')
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SmaFlows]    Script Date: 9/19/2018 12:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SmaFlows](
	[SmaFlowId] [int] IDENTITY(1000,1) NOT NULL,
	[SmaOfferingId] [int] NOT NULL,
	[AssetManagerCode] [varchar](10) NOT NULL CONSTRAINT [DF_SmaFlows_AssetManagerCode_1]  DEFAULT (''),
	[FlowDate] [date] NOT NULL,
	[Assets] [varchar](50) NOT NULL CONSTRAINT [DF_SmaFlows_Assets]  DEFAULT (''),
	[GrossFlows] [varchar](50) NOT NULL CONSTRAINT [DF_SmaFlows_GrossFlows]  DEFAULT (''),
	[Redemptions] [varchar](50) NOT NULL CONSTRAINT [DF_SmaFlows_Redemptions]  DEFAULT (''),
	[NetFlows] [varchar](50) NOT NULL CONSTRAINT [DF_SmaFlows_NetFlows]  DEFAULT (''),
	[DerivedFlows] [varchar](50) NOT NULL CONSTRAINT [DF_SmaFlows_DerivedFlows]  DEFAULT (''),
	[AssetsD] [decimal](18, 8) NULL,
	[GrossFlowsD] [decimal](18, 8) NULL,
	[RedemptionsD] [decimal](18, 8) NULL,
	[NetFlowsD] [decimal](18, 8) NULL,
	[DerivedFlowsD] [decimal](18, 8) NULL,
	[DoverDerivedFlowsD] [decimal](18, 8) NULL,
	[FinalNetFlowsD] [decimal](18, 8) NULL,
	[PerformanceImpactD] [decimal](18, 8) NULL,
	[OpProductTypeAssets] [decimal](18, 8) NULL,
	[OpProductTypeGrossFlows] [decimal](18, 8) NULL,
	[OpProductTypeRedemptions] [decimal](18, 8) NULL,
	[OpProductTypeFinalNetFlows] [decimal](18, 8) NULL,
	[OpMorningstarClassAssets] [decimal](18, 8) NULL,
	[OpMorningstarClassGrossFlows] [decimal](18, 8) NULL,
	[OpMorningstarClassRedemptions] [decimal](18, 8) NULL,
	[OpMorningstarClassFinalNetFlows] [decimal](18, 8) NULL,
	[OpSponsorAssets] [decimal](18, 8) NULL,
	[OpSponsorGrossFlows] [decimal](18, 8) NULL,
	[OpSponsorRedemptions] [decimal](18, 8) NULL,
	[OpSponsorFinalNetFlows] [decimal](18, 8) NULL,
	[AssetsByManager] [decimal](18, 8) NULL,
	[FinalNetByManager] [decimal](18, 8) NULL,
	[AssetShareByProductType] [decimal](18, 8) NULL,
	[AssetShareByMorningstarClass] [decimal](18, 8) NULL,
	[AssetShareBySponsor] [decimal](18, 8) NULL,
	[AssetShareByManager] [decimal](18, 8) NULL,
	[FinalNetShareByProductType] [decimal](18, 8) NULL,
	[FinalNetShareByMorningstarClass] [decimal](18, 8) NULL,
	[FinalNetShareBySponsor] [decimal](18, 8) NULL,
	[FinalNetShareByManager] [decimal](18, 8) NULL,
	[NumAssetsByProductType] [int] NULL,
	[NumAssetsByMorningstarClass] [int] NULL,
	[NumAssetsBySponsor] [int] NULL,
	[NumFinalNetByProductType] [int] NULL,
	[NumFinalNetByMorningstarClass] [int] NULL,
	[NumFinalNetBySponsor] [int] NULL,
	[RankAssetsByProductType] [int] NULL,
	[RankAssetsByMorningstarClass] [int] NULL,
	[RankAssetsBySponsor] [int] NULL,
	[RankAssetsByManager] [int] NULL,
	[RankFinalNetByProductType] [int] NULL,
	[RankFinalNetByMorningstarClass] [int] NULL,
	[RankFinalNetBySponsor] [int] NULL,
	[RankFinalNetByManager] [int] NULL,
	[NumManagersByProductType] [int] NULL,
	[NumManagersByMorningstarClass] [int] NULL,
	[NumManagersBySponsor] [int] NULL,
	[NumManagersBySponsorFinalNet] [int] NULL,
 CONSTRAINT [PK_SmaFlows] PRIMARY KEY CLUSTERED 
(
	[SmaOfferingId] ASC,
	[AssetManagerCode] ASC,
	[FlowDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SmaOfferings]    Script Date: 9/19/2018 12:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SmaOfferings](
	[SmaOfferingId] [int] IDENTITY(10001,1) NOT NULL,
	[AssetManagerCode] [varchar](10) NOT NULL CONSTRAINT [DF_SmaOfferings_AssetManagerCode]  DEFAULT (''),
	[SponsorFirm] [varchar](80) NOT NULL,
	[AdvisoryPlatform] [varchar](80) NOT NULL CONSTRAINT [DF_SmaOfferings_AdvisoryPlatform]  DEFAULT (''),
	[AdvisoryPlatformCode] [varchar](80) NOT NULL CONSTRAINT [DF_SmaOfferings_AdvisoryPlatformCode]  DEFAULT (''),
	[SmaStrategy] [varchar](80) NOT NULL,
	[SmaProductType] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_SmaProductType]  DEFAULT (''),
	[SmaProductTypeCode] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_SmaProductTypeCode]  DEFAULT (''),
	[TampRIAPlatform] [varchar](80) NOT NULL CONSTRAINT [DF_SmaOfferings_TampRIAPlatform]  DEFAULT (''),
	[ManagerClass] [varchar](125) NOT NULL CONSTRAINT [DF_SmaOfferings_ManagerClass]  DEFAULT (''),
	[SmaOfferingKeyId] [int] NOT NULL CONSTRAINT [DF_SmaOfferings_SmaOfferingKeyId]  DEFAULT ('0'),
	[SponsorFirmCode] [varchar](80) NOT NULL CONSTRAINT [DF_SmaOfferings_SponsorFirmCode]  DEFAULT (''),
	[SponsorFirmId] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_SponsorFirmId]  DEFAULT (''),
	[DoverSponsorFirmId] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_DoverSponsorFirmId]  DEFAULT (''),
	[MorningstarStrategyID] [varchar](100) NOT NULL CONSTRAINT [DF_SmaOfferings_SmaStrategyID]  DEFAULT (''),
	[MorningStarClass] [varchar](80) NOT NULL CONSTRAINT [DF_SmaOfferings_MorningStarClass]  DEFAULT (''),
	[MorningstarClassId] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_MorningstarClassId]  DEFAULT (''),
	[LadderCode] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_LadderCode]  DEFAULT (''),
	[SmidCode] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_SmidCode]  DEFAULT (''),
	[EsgCode] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_EsgCode]  DEFAULT (''),
	[SmartBetaCode] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_SmartBetaCode]  DEFAULT (''),
	[TotalAccounts] [varchar](50) NOT NULL CONSTRAINT [DF_SmaOfferings_TotalAccounts]  DEFAULT (''),
	[CsvFileRow] [int] NOT NULL CONSTRAINT [DF_SmaOfferings_Row]  DEFAULT ((0)),
 CONSTRAINT [PK_SmaOfferings] PRIMARY KEY CLUSTERED 
(
	[AssetManagerCode] ASC,
	[SponsorFirm] ASC,
	[AdvisoryPlatform] ASC,
	[AdvisoryPlatformCode] ASC,
	[SmaStrategy] ASC,
	[SmaProductType] ASC,
	[SmaProductTypeCode] ASC,
	[TampRIAPlatform] ASC,
	[ManagerClass] ASC,
	[SmaOfferingKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SmaReturns]    Script Date: 9/19/2018 12:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SmaReturns](
	[SmaReturnId] [int] IDENTITY(1001,1) NOT NULL,
	[SmaStrategyId] [int] NOT NULL,
	[AssetManagerCode] [nchar](10) NOT NULL,
	[ReturnType] [varchar](50) NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[ReturnValue] [varchar](50) NOT NULL CONSTRAINT [DF_SmaReturns_Return]  DEFAULT (''),
	[ReturnValueD] [decimal](18, 8) NULL,
 CONSTRAINT [PK_SmaReturns] PRIMARY KEY CLUSTERED 
(
	[SmaStrategyId] ASC,
	[AssetManagerCode] ASC,
	[ReturnType] ASC,
	[ReturnDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SmaStrategies]    Script Date: 9/19/2018 12:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SmaStrategies](
	[SmaStrategyId] [int] IDENTITY(10001,1) NOT NULL,
	[AssetManagerCode] [varchar](10) NOT NULL CONSTRAINT [DF_SmaStrategies_AssetManager]  DEFAULT (''),
	[SmaStrategy] [varchar](80) NOT NULL CONSTRAINT [DF_SmaStrategies_SmaStrategy]  DEFAULT (''),
	[MorningstarStrategyId] [varchar](100) NOT NULL CONSTRAINT [DF_SmaStrategies_MorningstarClassId]  DEFAULT (''),
	[MorningstarClass] [varchar](80) NOT NULL,
	[MorningstarClassId] [varchar](50) NOT NULL CONSTRAINT [DF_SmaStrategies_MorningstaClassId]  DEFAULT (''),
	[ManagerClass] [varchar](120) NOT NULL CONSTRAINT [DF_SmaStrategies_ManagerClass]  DEFAULT (''),
	[InceptionDate] [date] NOT NULL CONSTRAINT [DF_SmaStrategies_InceptionDate]  DEFAULT ('01/01/1900'),
 CONSTRAINT [PK_SmaStrategies] PRIMARY KEY CLUSTERED 
(
	[AssetManagerCode] ASC,
	[SmaStrategy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
