/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct
      [SponsorFirmCode]
  FROM [DoverSma].[dbo].[SmaOfferings]
  order by [SponsorFirmCode]

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Assetmark'
  where [SponsorFirmCode] = 'Asssetmark'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'BMO'
  where [SponsorFirmCode] = 'BMO Global'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'BMO'
  where [SponsorFirmCode] = 'BMO Nesbitt'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Fidelity'
  where [SponsorFirmCode] = 'Fideltiy'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Goldman'
  where [SponsorFirmCode] = 'Golcman'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Hilliard'
  where [SponsorFirmCode] = 'Hiliard'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Lincoln'
  where [SponsorFirmCode] = 'Lincoln Fin'
  
  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Northern Trust'
  where [SponsorFirmCode] = 'North Trust'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Royal Alliance'
  where [SponsorFirmCode] = 'Royal Allliance'

  Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'TD Ameritrade'
  where [SponsorFirmCode] = 'TD Amer'
  	
Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Wells Fargo'
  where [SponsorFirmCode] = 'Well Fargo'

Update [DoverSma].[dbo].[SmaOfferings]
  set [SponsorFirmCode] = 'Wells Fargo'
  where [SponsorFirmCode] = 'Wells'
  	

  	Well Fargo
Wells
Wells Fargo
	




	



  
