/****** Script for SelectTopNRows command from SSMS  ******/
use DoverSma
SELECT [SmaOfferings].[SmaOfferingId]
      ,[SmaOfferingKeyId]
	  ,[FlowDate]
      ,[SmaOfferings].[AssetManagerCode]
      ,[SponsorFirmCode]
      ,[SponsorFirmId]
      ,[DoverSponsorFirmId]
      ,[AdvisoryPlatform]
      ,[AdvisoryPlatformCode]
      ,[SmaStrategy]
      ,[MorningstarStrategyID]
      ,[SmaProductType]
      ,[SmaProductTypeCode]
      ,[MorningStarClass]
      ,[MorningstarClassId]
      ,[ManagerClass]
      ,[LadderCode]
      ,[SmidCode]
      ,[EsgCode]
      ,[SmartBetaCode]
      ,[TotalAccounts]
	  ,[AssetsD]
	  ,[GrossFlowsD]
	  ,[RedemptionsD]
	  ,[NetFlowsD]
	  ,[DerivedFlowsD]
	  ,[DoverDerivedFlowsD]
	  ,[PerformanceImpactD]
	  ,[FinalNetFlowsD]
	  ,[OpProductTypeAssets]
      ,[OpProductTypeGrossFlows]
      ,[OpProductTypeRedemptions]
      ,[OpProductTypeFinalNetFlows]
      ,[OpMorningstarClassAssets]
      ,[OpMorningstarClassGrossFlows]
      ,[OpMorningstarClassRedemptions]
      ,[OpMorningstarClassFinalNetFlows]
      ,[OpSponsorAssets]
      ,[OpSponsorGrossFlows]
      ,[OpSponsorRedemptions]
      ,[OpSponsorFinalNetFlows]
      ,[AssetsByManager]
      ,[FinalNetByManager]
      ,[AssetShareByProductType]
      ,[AssetShareByMorningstarClass]
      ,[AssetShareBySponsor]
      ,[AssetShareByManager]
      ,[FinalNetShareByProductType]
      ,[FinalNetShareByMorningstarClass]
      ,[FinalNetShareBySponsor]
      ,[FinalNetShareByManager]
      ,[NumAssetsByProductType]
      ,[NumAssetsByMorningstarClass]
      ,[NumAssetsBySponsor]
      ,[NumFinalNetByProductType]
      ,[NumFinalNetByMorningstarClass]
      ,[NumFinalNetBySponsor]
      ,[RankAssetsByProductType]
      ,[RankAssetsByMorningstarClass]
      ,[RankAssetsBySponsor]
      ,[RankAssetsByManager]
      ,[RankFinalNetByProductType]
      ,[RankFinalNetByMorningstarClass]
      ,[RankFinalNetBySponsor]
      ,[RankFinalNetByManager]
      ,[NumManagersByProductType]
      ,[NumManagersByMorningstarClass]
      ,[NumManagersBySponsor]
      ,[NumManagersBySponsorFinalNet]
  FROM [DoverSma].[dbo].[SmaOfferings]
  INNER join [DoverSma].[dbo].[AssetManagers] on AssetManagers.AssetManagerCode = SmaOfferings.AssetManagerCode
  Inner join SmaFlows on SmaOfferings.SmaOfferingId = SmaFlows.SmaOfferingId
  order by AssetManagers.AssetManager,  SmaOfferings.SmaOfferingId, SmaFlows.SmaFlowId
  
  /*
  SELECT [SmaOfferings].[SmaOfferingId]
      ,[SmaOfferingKeyId]
	  ,[FlowDate]
	  ,[AssetManager]
      ,[SmaOfferings].[AssetManagerCode]
      ,[TampRIAPlatform]
      ,[SponsorFirm]
      ,[SponsorFirmCode]
      ,[SponsorFirmId]
      ,[DoverSponsorFirmId]
      ,[AdvisoryPlatform]
      ,[AdvisoryPlatformCode]
      ,[SmaStrategy]
      ,[MorningstarStrategyID]
      ,[SmaProductType]
      ,[SmaProductTypeCode]
      ,[MorningStarClass]
      ,[MorningstarClassId]
      ,[ManagerClass]
      ,[TotalAccounts]
      ,[CsvFileRow]
	  ,[AssetsD]
	  ,[GrossFlowsD]
	  ,[RedemptionsD]
	  ,[NetFlowsD]
	  ,[DerivedFlowsD]
	  ,[DoverDerivedFlowsD]
	  ,[PerformanceImpactD]
	  ,[FinalNetFlowsD]
  FROM [DoverSma].[dbo].[SmaOfferings]
  INNER join [DoverSma].[dbo].[AssetManagers] on AssetManagers.AssetManagerCode = SmaOfferings.AssetManagerCode
  Inner join SmaFlows on SmaOfferings.SmaOfferingId = SmaFlows.SmaOfferingId
  where SmaOfferings.AssetManagerCode = 'nuve' and SponsorFirmCode = 'schwab' and MorningstarClassId = 'AL'
  order by AssetManagers.AssetManager,  SmaOfferings.SmaOfferingId

  */
