Update [DoverSma].[dbo].[SmaFlows]
  set [OpProductTypeAssets] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpProductTypeGrossFlows] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpProductTypeRedemptions] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpProductTypeFinalNetFlows] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpMorningstarClassAssets] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpMorningstarClassGrossFlows] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpMorningstarClassRedemptions] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpMorningstarClassFinalNetFlows] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpSponsorAssets] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpSponsorGrossFlows] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpSponsorRedemptions] = Null
Update [DoverSma].[dbo].[SmaFlows]
  set [OpSponsorFinalNetFlows] = Null

